@font-face {
  font-family: "iconfont"; /* Project id 3335214 */
  src: url('iconfont.woff2?t=1650159394749') format('woff2'),
       url('iconfont.woff?t=1650159394749') format('woff'),
       url('iconfont.ttf?t=1650159394749') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e63f";
}

